/* Copied the css from s4m13337's website. cant imagine of any better and minimal design */
/* check out s4m13337's website... https://s4m13337.com/ */
body{
    padding: 0;
    margin: 0;
    font-family: openSans, sans-serif;
    color: #D0D0D0;
    background: #000000;
}

h1{font-size: 2em;}
h2{font-size: 1.6em;
color: #FF0199;
}
h3{font-size: 1.1em;}

a{
    text-decoration: none;
    color: purple 
    ;
}

a:hover{
    /* color: #454545; */
    text-decoration: underline;
}

p {
    /* text-indent: 40px; */
    line-height: 1.25;
}

hr {
    border: none;
    background-color: gray;
    height: 2px;
}

.header{
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 36pt;
    color: #FF0099;
}

.title{
    text-align: center;
}

.subtitle{
    /* text-align: center; */
    font-style: italic;
    color: grey;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

/*--------------------------------------------------------*/
/*                     Navbar styling                     */
/*--------------------------------------------------------*/

nav {
    text-align: center;
}

nav ul{
    margin: 0;
    list-style-type: none;
    padding: 5px;
}

nav li {
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.section{
    padding: 25px;
}

pre{
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.taxonomy-title{
    text-transform: capitalize;
    text-align: center;
}

.taxonomy-items{
    text-transform: capitalize;
}

/*--------------------------------------------------------*/
/*                     Footer styling                     */
/*--------------------------------------------------------*/

footer {
    padding: 10px;
}

/* Desktop design */
@media only screen and (min-width: 768px) {
    .section{
	width: 768px;
	margin-left: auto;
	margin-right: auto;
    }

    header{
	font-size: 22pt;
    }
