<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Saumit's webpage</title>
    		<link rel="icon" type="image/png" href="/favicon.png">
    		<link rel="stylesheet" href="/style.css">
                <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
                <meta charset="utf-8">
  	</head>
  	<body>
    	<section class="section">
        <h1 class="header">Saumit's webpage</h1>

      	<!-- Navigation -->
      	<nav>
       	  <ul>
            <li>[ <a href="/">Home</a> ]</li>
            <li>[ <a href="/blog">Blog</a> ]</li>
            <li>[ <a href="https://git.draconyan.xyz">Git</a> / <a href="https://github.com/justsaumit">Github</a>]</li>
            <li>[ <a href="/musicmap">Musicmap</a> ]</li>
            <li>[ <a href="/contact">Contact</a> ]</li>
        <!--<li>[ <a href="https://searx.draconyan.xyz">Searx</a> ]</li> -->
          </ul>
        </nav>
        <hr>
      <!-- Content -->
      <div class="container">
          {% block content %} {% endblock %}
      </div>
      <hr>
      <!-- Footer -->
      <footer>
        <nav>
            <a href="https://landchad.net/">
                <img src="/media/stickers/landchad.gif" alt="landchad.net" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
            <a href="https://wiby.me/">
                <img src="/media/stickers/wiby.gif" alt="wiby.me" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
            <a href="https://sadgrl.online/">
                <img src="/media/stickers/sadgrl-online.gif" alt="sadgrl.online" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
            <a href="https://ophanim.neocities.org/index.html">
                <img src="https://ophanim.neocities.org/image/angelz_button.gif" alt="ophanim site" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
            <a href ="https://www.linuxtrainingacademy.com/10-reasons-to-learn-the-vim-editor/">
                <img src="/media/stickers/vim.gif" alt="Edited with Vim and why you should try Learning vim!" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">
                <img src="/media/stickers/cc-by-sa.gif" alt="CC BY SA" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
            <script>
                var gcurls = [
                    "https://spyware.neocities.org/articles/chrome.html",
                    "https://www.gnu.org/proprietary/malware-google.html",
                    "https://www.consumerwatchdog.org/blog/googles-dominance",
                    "https://www.visualcapitalist.com/this-chart-reveals-googles-true-dominance-over-the-web",
                    "https://www.techspot.com/news/91390-google-chrome-94-arrives-controversial-idle-detection-api.html"
                ];
                function fg() {var url = gcurls[Math.floor(Math.random()*gcurls.length)];window.location = url;}
            </script>
            <a href="#" onClick="fg(); return false;">
                <img src="/media/stickers/chrome-is-evil.gif" alt="Chrome is Evil!" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
            <script>
                var msurls = [
                    "https://www.gnu.org/proprietary/malware-microsoft.html",
                    "https://programmerbear.com/why-microsoft-is-evil/",
                    "https://en.wikipedia.org/wiki/United_States_v._Microsoft_Corp",
                    "https://en.wikipedia.org/wiki/Halloween_documents",
                    "https://www.gnu.org/software/fsfe/projects/ms-vs-eu/halloween1.html"
                ];
                function fms() {var url = msurls[Math.floor(Math.random()*msurls.length)];window.location = url;}
            </script>
            <a href="#" onClick="fms(); return false;">
                <img src="/media/stickers/stop-ms.gif" alt="Stop Microsoft!" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
	    <!--<a href="https://gnulinuxindia.org/direct.html?name=justsaumit&dir=prev">↩ </a> -->
	    <!--<a href="https://gnulinuxindia.org/members.html/"><img src="https://gnulinuxindia.org/images/gliicon_cropped.png" alt="GLI WEBRING" width="50" height="30"></a> -->
            <a href="http://lu.tiny-universes.net/" target="_blank"><img alt="maybe you should make your own website - cool" src="https://yesterweb.org/img/buttons/stamp-yrownwebsite.png"></a>
            <a href="https://gnulinuxindia.org"><img class="displayed" src="https://gnulinuxindia.org/images/gliicon_cropped.png" alt="GLI" width="50" height="30"></a> 
	    <!--<a href="https://gnulinuxindia.org/direct.html?name=justsaumit&dir=next"> ↪</a>  -->
        </nav><hr>
      </footer>

    </section>
    </body>
</html>
