<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Saumit's webpage</title>
    		<link rel="icon" type="image/png" href="/static/favicon.png">
    		<link rel="stylesheet" href="style.css">
    		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  	</head>
  	<body>
    	<section class="section">
        <h1 class="header">Saumit's webpage</h1>

      	<!-- Navigation -->
      	<nav>
       	  <ul>
            <li>[ <a href="/">Home</a> ]</li>
            <li>[ <a href="/blog">Blog</a> ]</li>
	    <li>[ <a href="https://git.draconyan.xyz">Git</a> / <a href="https://github.com/justsaumit">Github</a>]</li>
	    <li>[ <a href="https://ncloud.draconyan.xyz/s/s7JZR8P8dqQT6aM">Notes</a> ]</li>
            <li>[ <a href="mailto:justsaumit@protonmail.com">Contact</a> ]</li>
     <!--   <li>[ <a href="https://searx.draconyan.xyz">Searx</a> ]</li> -->
          </ul>
        </nav>
        <hr>
      <!-- Content -->
      <div class="container">
          {% block content %} {% endblock %}
      </div>
      <!-- Footer -->
      <footer>
      <center>	     
      <div>
	<a href="https://landchad.net/">
	        <img src="media/landchad.gif" alt="landchat.net" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
	<a href="https://wiby.me/">
	        <img src="media/wiby.gif" alt="wiby.me" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
	<a href="https://sadgrl.online/">
	        <img src="media/sadgrl-online.gif" alt="sadgrl.online" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
        <a href="https://ophanim.neocities.org/index.html">
                <img src="https://ophanim.neocities.org/image/angelz_button.gif"></a>
	<a href ="https://www.linuxtrainingacademy.com/10-reasons-to-learn-the-vim-editor/">
                <img src="media/vim.gif" alt="Edited with Vim" style="height:31px;width:88px;max-height:none;max-width:none;"></a>	
      	<a href="https://creativecommons.org/licenses/by-sa/4.0/">
	        <img src="media/cc-by-sa.gif" alt="CC BY SA" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
	<a href="https://spyware.neocities.org/articles/chrome.html" alt="Chrome is evil!">
	        <img src="media/chrome-is-evil.gif" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
        <script type="text/javascript">
        var urls = [
            "https://www.gnu.org/proprietary/malware-microsoft.html",
            "https://programmerbear.com/why-microsoft-is-evil/",
            "https://en.wikipedia.org/wiki/United_States_v._Microsoft_Corp"
        ];
        function goSomewhere() {var url = urls[Math.floor(Math.random()*urls.length)];window.location = url;}
        </script>
        <a href="#" onClick="goSomewhere(); return false;">
                <img src="media/stop-ms.gif" alt="Stop Microsoft!" style="height:31px;width:88px;max-height:none;max-width:none;"></a>
        </center>
	      <!-- <a href="https://gnulinuxindia.org/direct.html?name=justsaumit&dir=prev">↩ </a> -->
	      <!-- <a href="https://gnulinuxindia.org/members.html/"><img src="https://gnulinuxindia.org/images/gliicon_cropped.png" alt="GLI WEBRING" width="50" height="30"></a> -->
        <center>
	<a href="https://gnulinuxindia.org"><img class="displayed" src="https://gnulinuxindia.org/images/gliicon_cropped.png" alt="GLI" width="50" height="30"></a> 
	      <!-- <a href="https://gnulinuxindia.org/direct.html?name=justsaumit&dir=next"> ↪</a>  -->
      </div>
      </center>
      <hr>
      </footer>

    </section>
  

</body></html>
