{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Hey There!👋</h1>

<h2>Introduction</h2>
<ul>
<li>My name is Saumit and this is my website, thanks for stopping by!</li>
<li>It's an internet equivalent of having a landplot!</li>
<li><b>Etymology</b> 
	<ul>
		<li><u>draconian</u> - is of, relating to, or characteristic of Draco/Drakon(7th Century lawmaker from Athens,Ancient Greece) or the severe code of laws held to have been framed by him.</li>
		<li><u>nyan</u> - Sound cats make in Japanese ig XD</li>
	</ul>
<li><b>Motivation</b> 
     <ul>
		<li>My message is simple, that is to stop relying on big tech and having social
                media platforms being your only way of having an online presence.
		</li>
                <li>Encrypt/Verify messages using my public OpenPGP key:<br><a href="https://github.com/justsaumit.gpg"><img src="https://img.shields.io/keybase/pgp/justsaumit?color=red&amp;label=gpg&amp;logo=gnu" alt="pgp"></a>
                </li>
	</ul>
</ul>

<h2>Whats on this site?</h2>
<ul>
<li>Mostly topics revolving free, libre and open source software since there's plenty content out
there I would just be linking and redirecting traffic to those sites than reiterating it here.</li>
<li> I will blog about some technical stuff.... if i manage to stop procrastinating that is. </li>
<li> You probably would be thinking... "Yo why this site so ugly?? compared to modern websites??"<br>Well...<a href="https://benhoyt.com/writings/the-small-web-is-beautiful/">it's minimal</a><sup><a href="https://motherfuckingwebsite.com/"> (explicit)</a></sup><!-- or prolly cause I suck at Js-->
<br>Actually it looks pretty neat, loads fast and is easy to maintian w/ minimal or no client-side processing. </li>
</ul>

<h2>Hardware/OS I use:</h2>
<ul>
<li>Almost 2 Year Old MSI Laptop having core i7 9thGen and an Nvidia GPU that I rarely use.</li>
<li>It flawlessly runs Arch Linux with dwm/st no driver issue of anykind. Though, in future I
would love to shift to a Librebooted Thinkpad. </li>
<li>I use an android phone, running a custom degoogled OS based on Lineage OS. Though, I still require Google Web Services for basic apps to function so I use flamegapps/micro-gapps, an opensource implementation of it.</li>
</ul>

<h2>Software I use:</h2>
<ul>
  <li>I use GNU/Linux as my primary Operating System, specifically <a href="https://archlinux.org/">Arch Linux</a> distribution.</li>
  <li><a href="https://neovim.io/">Neovim</a> as my text editor with lua plugins to make it a full fledged and superior IDE.</li>
  <li><u>window manager:</u> <a href="https://dwm.suckless.org/">dwm</a> It's so good! I love my workflow using it. I maintain my own build of <a href="https://git.draconyan.xyz/dwm">dwm</a> 
      and was one of the first projects I started working on after my Arch install because it added to the 'building it from ground up' view. 
      I'm currently quite satisfied with my build, though there can always be improvements.</li>
  <li><u>terminal</u>: <a href="https://st.suckless.org/">st</a> the simple terminal or the suckless terminal is a pretty great terminal! with quite alot of <a href="https://st.suckless.org/">features</a> packed in just 2656 SLOC! Much less than XTerm with 65K SLOC most being legacy code.<br>
      However, without patches it is quite unusable for me. So, with a few patches in my build of <a href="https://git.draconyan.xyz/st">st</a> I try to make it more featureful and it does the job incredibly well!<br>
      It comes with multiple fonts support,ligature support,Pywal support and has external-pipe patch through which I can use certain scripts to say <ul class="sq"><li>copy the output of a command to system clipboard or <li>open links from my terminal-output to my browser or <li>copy the link to clipboard and selecting them using <a href="https://git.draconyan.xyz/dmenu">dmenu</a></li></ul>
  <li><u>video player</u>: <a href="https://mpv.io/">mpv</a> minimal yet most powerful media player I've ever seen! love using my keybindings.</li>
  <li><u>image viewer</u>: <a href="https://github.com/muennich/sxiv">sxiv</a> Handles all the images very well, it is very featureful and hackable with it's scripting capability using unix piping and key-handler to run custom commands or other scripts</li>
  <li><u>browser</u>: <a href="https://github.com/brave/brave-browser">Brave</a> or <a href="https://github.com/ungoogled-software/ungoogled-chromium">Ungoogled Chromium</a> and <a href="https://gitlab.com/librewolf-community/browser/arch">Librewolf</a> or <a href="https://gnu.org/software/gnuzilla/">GNU Icecat</a></li>
  <li><u><a href="https://piped.kavin.rocks/">piped:</a></u>a pretty good youtube alternative. On my phone I use <a href="https://libre-tube.github.io/">LibreTube</a> , a FOSS android application which serves as a lightweight front-end for piped. I might self-host this in future using <a href="https://invidious.io/">Invidious</a> project.
  I personally recommend my normie friends who wish to use just plain youtube but hate the youtube android app to use <a href="https://newpipe.net/">NewPipe</a>! 
  //I dislike youtube vanced as it still associates w the original app.</li>

</ul>
{% endblock content %}
